.Quest {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
} 
.quest-container {
    border: 2px solid #ffc107;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    width: 941px;
    font-family: 'GROBOLD', sans-serif;
    margin: auto;
    background: #000000A6;
    /* position: absolute; */
    /* top: 500px;
    left: 17%; */
    /* top: 500px; */
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 80%);
}
.quest-title {
    font-weight: 500;
    font-size: 48px;
    color: #FFFFFF;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}
.quest-title img {
    margin-right: 15px;
}
.quest-item {
    border: 2px solid #ff4081;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    flex: 1;
    height: 76px;
}
.quest-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.quest-parent .btn-check {
    border: 2px solid #ff4081;
    color: #FFEE64;
    border-radius: 5px;
    width: 76px;
    height: 76px;
    position: relative;
    background-color: transparent;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 15px;
    cursor: pointer !important; 
}

.quest-parent .btn-check.checked {
    color: #28a745;
    border-color: #28a745;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 36px;
    font-size: 55px;
    cursor: pointer;
    color: #fff;
}
.quest-details {
    border: 2px solid #ff4081;
    border-radius: 12px;;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    color: #ffc107;
    background: #000000CC;
}
.quest-details div:first-child {
    color: #EE1B84;
    font-weight: 500;
    margin-bottom: 70px;
    font-size: 20px;
    text-align: center;
}
.quest-details div:last-child {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin-right: 112px;
    margin-left: 112px;
    margin-bottom: 112px;
}
.quest-content-1 {
    color: #FFEE64;
    font-size: 18px;
    font-weight: 500;
}
.checked {
    color: #FFEE64;
    font-size: 18px;
    font-weight: 500;
}
.quest-item .btn-check {
    color: #FFEE64;
    font-size: 18px;
    font-weight: 500;
}
.quest-content {
    display: flex;
    align-items: center;
}
.quest-content img {
    margin-right: 15px;
}
.quest-content-2 {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}
.detail-percen {
    position: relative;
}
.content-percent {
    position: absolute;
    top: 350px;
    left: 35%;
    display: none;
    z-index: 999;
    width: 32%;
    border: 3px solid #FFEF7A;
    padding: 12px 24px;
    border-radius: 20px;
    background: #000000CC;
}
.content-percent .item {
    display: flex;
    
    align-items: center;
}
.content-percent .percentage-1 {
    color: #9611FF;
    font-weight: 500;
    font-size: 18px;
}
.content-percent .percentage-2 {
    color: #FFBF11;
    font-weight: 500;
    font-size: 18px;
}
.content-percent .percentage-3 {
    color: #F12178;
    font-weight: 500;
    font-size: 18px;
}
.content-percent .percentage-4 {
    color: #56FFFF;
    font-weight: 500;
    font-size: 18px;
}
.content-percent .percentage-5 {
    color:#77EF58;
    font-weight: 500;
    font-size: 18px;
}
.content-percent .item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.content-percent .item p {
    font-weight: 500;
    font-size: 18px;
    color: white;
    padding-top: 12px;
    margin-right: 10px;
}
.content-percent .group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.noitice {
    background: #000000A6;
    width: 40%;
    border-radius: 20px;
    border: 4px solid #FFEF7A;
    position: absolute;
    top: 832px;
    display: none;
    left: 30%;
}
.warringAgain {
    position: relative;
    z-index: 999;
}
.analyzeAgain {
    align-self: center;
    position: relative;
    z-index: 999;
}
.analyzeAgain .title {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 70px;
    margin-bottom: 40px;
}
.analyzeAgain i {
    color: white;
    font-size: 50px;
    position: absolute;
    right: 15px;
    top: -60px;
    cursor: pointer;
}
.analyzeAgain .desc {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
}
.analyzeAgain .button {
    padding: 15px 50px;
    background: #EE1B84;
    color: var(--text-yellow);
    border: none;
    font-size: 24px;
    border-radius: 999px;
    margin-bottom: 50px;
}
.button-parent {
    text-align: center;
}

@media (max-width: 991.98px) {
    .noitice {
        background: #000000A6;
        width: 70%;
        border-radius: 20px;
        border: 4px solid #FFEF7A;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 400%);
        display: none;
    }
    .warringAgain {
        position: relative;
        z-index: 999;
    }
    .analyzeAgain {
        align-self: center;
        position: relative;
        z-index: 999;
    }
    .analyzeAgain .title {
        text-align: center;
        font-weight: 500;
        font-size: 12px;
        color: #FFFFFF;
        margin-top: 70px;
        margin-bottom: 40px;
    }
    .analyzeAgain i {
        color: white;
        font-size: 24px;
        position: absolute;
        right: 15px;
        top: -60px;
        cursor: pointer;
    }
    .analyzeAgain .desc {
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 8px;
        text-align: center;
        color: #FFFFFF;
    }
    .analyzeAgain .button {
        padding: 15px 50px;
        background: #EE1B84;
        color: var(--text-yellow);
        border: none;
        font-size: 16px;
        border-radius: 999px;
        margin-bottom: 50px;
    }
    .button-parent {
        text-align: center;
    }
    
    .quest-container {
        width: 80%;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, 80%);
        border-radius: 8px;
    }
    .quest-title {
        font-size: 36px;
        margin-bottom: 25px;
    }
    .quest-title img {
        width: 40px;
    }
    .quest-content-1 {
        font-size: 14px;
    }
    .quest-content-2 {
        font-size: 14px;
    }
    .quest-content img {
        width: 30px;
    }
    .quest-item {
        padding: 10px;
        height: 50px;
    }
    .close-button {
        top: 0;
        right: 20px;
        font-size: 40px;
    }
    .quest-parent .btn-check {
        font-size: 14px;
        height: 50px;
    }
    .quest-details div:first-child {
        font-size: 16px;
        margin-bottom: 50px;
    }
    .quest-details div:last-child {
        font-size: 14px;
        margin-bottom: 70px;
        margin-right: 90px;
        margin-left: 90px;
    }
    .content-percent {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 80%);
        display: none;
        z-index: 999;
        width: 70%;
        border: 3px solid #FFEF7A;
        padding: 12px 24px;
        border-radius: 20px;
        background: #000000CC;
    }
    .content-percent .item {
        display: flex;
        
        align-items: center;
    }
    .content-percent .percentage-1 {
        color: #9611FF;
        font-weight: 500;
        font-size: 12px;
    }
    .content-percent .percentage-2 {
        color: #FFBF11;
        font-weight: 500;
        font-size: 12px;
    }
    .content-percent .percentage-3 {
        color: #F12178;
        font-weight: 500;
        font-size: 12px;
    }
    .content-percent .percentage-4 {
        color: #56FFFF;
        font-weight: 500;
        font-size: 12px;
    }
    .content-percent .percentage-5 {
        color:#77EF58;
        font-weight: 500;
        font-size: 12px;
    }
    .content-percent .item img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-right: 10px;
    }
    .content-percent .item p {
        font-weight: 500;
        font-size: 12px;
        color: white;
        padding-top: 12px;
        margin-right: 10px;
    }
    .content-percent .group {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}



@media (max-width: 566.98px) {
    .content-percent .percentage-1 {
        color: #9611FF;
        font-weight: 500;
        font-size: 8px;
    }
    .content-percent .percentage-2 {
        color: #FFBF11;
        font-weight: 500;
        font-size: 8px;
    }
    .content-percent .percentage-3 {
        color: #F12178;
        font-weight: 500;
        font-size: 8px;
    }
    .content-percent .percentage-4 {
        color: #56FFFF;
        font-weight: 500;
        font-size: 8px;
    }
    .content-percent .percentage-5 {
        color:#77EF58;
        font-weight: 500;
        font-size: 8px;
    }
    .content-percent .item img {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-right: 10px;
    }
    .content-percent .item p {
        font-weight: 500;
        font-size: 8px;
        color: white;
        padding-top: 12px;
        margin-right: 10px;
    }
    .content-percent .group {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .quest-container {
        width: 90%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, 80%);
        border-radius: 5px;
    }
    .quest-title {
        font-size: 24px;
        align-items: flex-end;
        margin-bottom: 18px;
    }
    .quest-title a img {
        width: 30px;
    }
    .quest-content-1 {
        font-size: 9px;
    }
    .quest-content-2 {
        font-size: 9px;
    }
    .quest-content img {
        width: 23px;
    }
    .quest-item {
        padding: 7.5px;
        height: 38px;
    }
    .close-button {
        top: -10px;
        right: 10px;
    }
    .quest-parent .btn-check {
        font-size: 9px;
        height: 38px;
    }
    .quest-details div:first-child {
        font-size: 10px;
        margin-bottom: 30px;
    }
    .quest-details div:last-child {
        font-size: 9px;
        margin-bottom: 52px;
        margin-right: 70px;
        margin-left: 70px;
    }
}
