@media (max-width: 1400px) {
    .content__golden .section-1 .image__left {
        object-fit: contain;
        
    }
    .content__golden .section-1 .image__left img {
        height: 100%;
    }
}


/* Laptop */
@media (max-width: 1200px) {

}

// Tablet
@media(max-width: 1024px) {
    .content__golden .title {
        display: none;
    }
    .content__golden .section-1 {
        padding-top: 52px;
        flex-wrap: wrap;
        display: flex;
        margin-bottom: 36px;
    }
    .content__golden .section-2 .title {
        font-size: 36px;
        display: block;
        margin-bottom: 15px;
    }
    .content__golden .section-2 .icons {
        margin-bottom: 15px;
    }
    .content__golden .section-1 .image__left {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    .content__golden .section-1 .content__right {
        width: 100%;
    }
    .content__golden .section-1 .content__right .card .info .em, .content__golden .section-1 .content__right .card .info .info__line .title__info, .content__golden .section-1 .content__right .card .info .highlight {
        font-size: 14px;
    }
    .content__golden .section-1 .content__right .card .info .last__line {
        font-size: 30px;
    }
    .content__golden .section-1 .content__right .card .input-group input {
        padding: 14px 0px 14px 12px;
        font-size: 9px;

    }
    .content__golden .section-1 .content__right .card .btn-wallet-1, .content__golden .section-1 .content__right .card .btn-wallet-2 {
        font-size: 9px;
        padding: 9px 0;
    }
    .content__golden .section-1 .content__right .card .question input {
        width: 12px;
        height: 12px;
    }
    .content__golden .section-1 .content__right .card .question label, .content__golden .section-1 .content__right .card .question label span {
        font-size: 9px;
    }
    .content__golden .section-1 .content__right .card .header .status {
        font-size: 12px;
    }
    .content__golden .section-1 .content__right .card .header .timer {
        font-size: 10px;
    }
    .content__golden .section-1 .content__right .card .header {
        margin-bottom: 14px;
    }
    .content__golden .section-1 .content__right .card .price .title__price {
        font-size: 16px;
    }
    .content__golden .section-1 .content__right .card .price {
        font-size: 32px;
    }
    .content__golden .section-1 .content__right .card {
        padding: 15px;
    }
    .content__golden .section-2 .pagination .counter {
        font-size: 20px;
    }
    .content__golden .section-2 .pagination {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .content__golden .section-1 .content__right .card .info .last__line {
        font-size: 20px;
    }
    .checking .wrapper {
        width: 350%;
    }
    .checking .wrapper .header .status, .checking .wrapper .header .timer {
        font-size: 12px;
    }
    .checking .wrapper .eligible-text, .checking .wrapper .loading-text, .checking .wrapper .ineligible-text {
        font-size: 32px;
    }
    .checking .wrapper .info-text, .checking .wrapper .wait-text {
        font-size: 12px;
    }
    .checking .wrapper .advance-button {
        font-size: 9px;
    }
    .checking .wrapper .header .timer .time {
        display: none;
    }
}

// Tablet
@media (max-width: 767.98px) {
    .index__golden .title {
        font-size: 48px;
    }
    .index__golden .button__Go button {
        font-size: 12px;
    }
    #token-line .token-marquee .token-item {
        font-size: 24px;
    }


}

// Mobile
@media (max-width: 575.98px) {

}